// _variables.scss
//
$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  "Apple SD Gothic Neo", sans-serif !default;

// 컬러
$color-white: #fff;
$color-blue: #1e78d0;
$color-orange: #f4580b;

// 폰트 컬러
$font-color: #000 !default;

$font-size-h: 2.6rem; // 대타이틀
$font-size-tit: 2.2rem; // 일반적인 타이틀
$font-size-subtit: 1.9rem; // 작은타이틀
$font-size-typo: 1.6rem; // 일반적인 본문크기
$font-size-typos: 1.3rem;
